body, html {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator, .button, .screen, #calculation, #result {
    border-radius: 10px;
}

.calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 340px;
    padding: 30px;

    background-color: rgb(59, 59, 59);

}

.screen {
    border: 2px solid black;
    margin-bottom: 15px;

    background-color: azure;
}

#calculation, #result {
    height: 70px;
    width: 300px;

    padding: 0 20px;
    text-align: right;
    font-size: 50px;
}

#calculation {
    /* background-color: azure; */
}

#result {
    /* background-color: aquamarine; */ 
}

.buttons {
    display: flex;
    gap: 15px;
    flex-direction: column;
}

.buttons > div {
    display: flex;
    width: 340px;
    justify-content: space-between;
}

.button {
    height: 60px;
    width: 73.75px;

    font-size: 25px;
}

.i0 { 
    width: 162.5px;
}