@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body, html {
    height: 95%;
}

body {
    font-family: "Roboto", "Time News Roman";

    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    position: absolute;
    bottom: 0;
    font-size: 20px;
}

.calculator, .button, .screen, #calculation, #result {
    border-radius: 10px;
}

.calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 340px;
    padding: 30px;

    background-color: rgb(59, 59, 59);

}

.screen {
    border: 2px solid black;
    margin-bottom: 15px;

    background-color: azure;
}

#calculation, #result {
    align-items: center;
    height: 60px;
    width: 300px;

    padding: 5px 20px;
    text-align: right;
}

#calculation {
    display: flex;
    flex-wrap: wrap;
    font-size: 30px;
    color: rgb(66, 66, 66);

    align-items: center;
    /* background-color: azure; */
}

#result {
    font-size: 50px;
    /* background-color: aquamarine; */ 
}

.buttons {
    display: flex;
    gap: 15px;
    flex-direction: column;
}

.buttons > div {
    display: flex;
    width: 340px;
    justify-content: space-between;
}

.button {
    height: 60px;
    width: 73.75px;

    border: 2px solid black;
    font-size: 25px;
}

#delete, #clear {
    color: rgb(249, 124, 124);
}

.i0 { 
    width: 162.5px;
}